*.pdf

.*
*.log_*
*.log
*.root

*.ods

*.csv

*.out

!.gitignore

DS1/reco_config_files
DS1/background_study
!DS1/background_study/make_distributions

DS3/reco_config_files

alignment/compile_results
alignment/fit_th_y_diff
alignment/kolmogorov_validation
alignment/match_th_y_crop
alignment/match_th_y_scale_fcn
alignment/match_th_y_scale_hist
alignment/simulation
alignment/test1
alignment/test2

archive
notes/released_notes
old-DS1
optics/*

reconstruction_formulae/plots
reconstruction_formulae/optics_uncertainty_matrix_generator
reconstruction_formulae/test_formulae
reconstruction_formulae/test_formulae_graph

simulation/DS1
simulation/input_distributions

simulation_geant4/hit_plots
simulation_geant4/analysis
simulation_geant4/dump_hits
simulation_geant4/showers

synchronisation
summaries
